*.class
*~

java/arcpartition/arcpartition.jar
java/arcpartition/bin/

java/atomwavtoatm/atomwavtoatm.jar
java/atomwavtoatm/bin/
java/atomwavtoatm/tmp/

java/atomtape/atomtape.jar
java/atomtape/bin/
java/atomtape/tmp/

java/atomquill/atomquill.jar
java/atomquill/bin/
java/atomquill/tmp/

java/atommenu/atommenu.jar
java/atommenu/bin/

java/atomsid/atomsid.jar
java/atomsid/bin/
java/atomsid/sidreloc

java/atombasic/atombasic.jar
java/atombasic/bin/

java/makeatm/makeatm.jar
java/makeatm/bin/

java/asciiart/asciiart.jar
java/asciiart/bin/


beebsid/ATMSID*/
beebsid/BEEBSID*/

archive/archive.js
archive/archive.img
archive/archive/
archive/atms/
archive/originals/
archive/wouter/

bbcbasic/BBCBASIC2
bbcbasic/Basic1.src
bbcbasic/Basic1.zip
bbcbasic/Basic2.rom
bbcbasic/Basic2.src
bbcbasic/Basic2.zip
bbcbasic/roms/

menu/BOOT.bin
menu/BOOTROM.bin
menu/Splash.png
menu/disks/
